
#derecha{
    margin-right: 800px;
    float: right;
  }

button{
    width: 80px;
    height: 50px;
    margin: 57px;
    margin-top: 20px;
    padding: auto;
    font-family:inherit;
    border-radius: 5px ;
    opacity: 1;
  }

body{
    background-image: url(fondo.jpg);
    
}

#hola{
    width: 80px;
    height: 50px;
    margin: 57px;
    margin-right: 20px;

    margin-top: 20px;
}
#b4{
    width: 60px;
    height: 50px;
    margin: 57px;
    margin-top: 20px;
    margin-right: 1px;
    padding: auto;
    font-family:inherit;
    border-radius: 5px ;
    opacity: 1;
}