/* Ejemplo de hoja de estilo */

/* Estilo para el cuerpo del HTML */
body {
  background-color: lightblue;
  color: black
}

/* Estilo para las etiquetas de tipo h1 */
h1 {
    background-color: chartreuse;
    color:black;
}

/* Estilo para los párrafos */
p {
  color: blue;
  background-color: rgb(105, 223, 94);
}
/* Este tiene más prioridad*/
#especial { 
    background-color: rgb(253, 163, 121);
    color: rgb(230, 184, 230);
}